<% @mail_categories.each do |mail_category| %>
  <tr>
    
    <td><%= mail_category.name %></td>
   
    
    <td>
        <div class="action-buttons">
            <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_mail_category_path(mail_category), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), mail_category_delete_path(mail_category), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>

  </tr>
<% end %>