<% @ticket_types.each do |ticket_type| %>
  <tr>
    
    <td><%= ticket_type.name %></td>
    
    <td>    
        <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_ticket_type_path(ticket_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="far fa-trash-alt"></i>
'), ticket_type_delete_path(ticket_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>


  </tr>
<% end %>