<% @task_types.each do |task_type| %>
  <tr>
    
    <td><%= task_type.name %></td>
    
    <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_task_type_path(task_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), task_type_delete_path(task_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>