<div class="breadcrumbs">         
    <% if @current_folder #checking if we are under any folder %> 
        <%= link_to "Root", folders_path %> 
        <% @current_folder.ancestors.reverse.each do |folder| %> 
            » <%= link_to folder.name, browse_path(uid: folder.uid) %> 
        <% end %> 
         »  <%= @current_folder.name %> 
    <% else #if we are not under any folder%> 
        Root
    <% end %> 
</div>