<% @folders.each do |folder| %>
    <tr>
    
    <td><%= folder.name %></td>
   
   <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_folder_path(uid: folder.uid), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), folder_delete_path(uid: folder.uid), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>