<div class="container main-container ">
  <div class="page-wrapper pt-25">
    <div class="page-content">
      <div class="br-pagebody mg-b-30">
        <div class="br-section-wrapper">
           <h3 class="page-title">Créer un nouveau dossier</h3>
          <div class="row">
            <div class="col-md-6">
              <%= render 'form', folder: @folder %>

              <p> 

                <% if @folder.parent %> 
                  <%= link_to "Retourner dans le dosier '#{@folder.parent.name}'", browse_path(@folder.parent) %> 
                <% else %> 
                  <%= link_to "Retourner à la racine", folders_url %> 
                <% end %> 
              </p>
            </div>
          </div>
        </div>
    </div>
  
  </div>
</div>