
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Bonjour,<br>
      Vous avez reçus une nouvelle de demande de devis.<br>
      <p>
      Type d'organisation: <strong><%= @quote_request.organization_type %></strong><br> 
      Organisation: <strong><%= @quote_request.name %></strong><br> 
      
      </p>
    </p>
    <p>
      Pour se connecter à l'application, suivez juste ce lien: <%= @url %>.<br>
    </p>
    <p>
   
    </p>
  </body>
</html>