<% @task_statuses.each do |task_status| %>
  <tr>
    
    <td><%= task_status.name %></td>
    <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_task_status_path(task_status), title: "Modifier", remote: true %>




<%= link_to raw('<i class="far fa-trash-alt"></i>
'), task_status_delete_path(task_status), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>