


<div class="br-pageheader mg-30 ">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    <span class="breadcrumb-item active"><h5>Notification </h5></span>
  </nav>
</div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    


    <p>
  <strong>ID:</strong>
  <%= @notification.id %>
</p>

   <p>
  <strong>Type:</strong>
  <%= @notification.notificable_type %>
</p>



<p>
  <strong>Description:</strong>
  <%= @notification.content %>
</p>




  </div>
</div>


