<h1>Editing Storage Service Setting</h1>

<%= render 'form', storage_service_setting: @storage_service_setting %>

<%= link_to 'Show', @storage_service_setting %> |
<%= link_to 'Back', storage_service_settings_path %>
