<div class="container">
	<div class="alert-wrapper mt-30">
		<div class="alert alert-success" role="alert">
		  <h3>Félicitations!</h3>
		  Votre demande a été envoyée avec succès et son traitement commence le plus tôt possible.
		</div>
	</div>
</div>