
<div class="br-pageheader">
      
    </div><!-- br-pageheader -->
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        
    <h2>Modification d'une imputation</h2>
    </div>

      <%= render 'form', imputation: @imputation %>

</div>
  </div>
  </div>