$('#imputation_recipient_id').empty();
$('#imputation_recipient_id').append( $('<option value="">Sélectionner</option>'));
<% @recipients.each do |recipient| %>
  $('#imputation_recipient_id').append($('<option value="<%= recipient.user_id %>"><%= recipient.full_name %></option>'));
<% end %>