
<div class="container main-container ">
    <div class="page-wrapper pt-25">
        <h3 class="page-title">Ajouter un nouveau document</h3>
        <div class="page-content">
            <%= render 'form', document: @document %>
        </div>
    </div>
</div>

