<% @ticket_statuses.each do |ticket_status| %>
  <tr>
    
    <td><%= ticket_status.name %></td>
    <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_ticket_status_path(ticket_status), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), ticket_status_delete_path(ticket_status), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>