<% @mail_types.each do |mail_type| %>
  <tr>
    
    <td><%= mail_type.name %></td>
    
    <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_mail_type_path(mail_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), mail_type_delete_path(mail_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>