<!-- Side Navbar -->
<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
	<a href=""><span></span><%= APPLICATION_NAME %><span></span></a>
</div>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Menu</label>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
        	
			
			<!-- Menu -->
			<%= sidebar_menu %>
				
			
			<div class="side-footer mg-t-25 mg-b-20 tx-infoo text-center">
            
			</div>

			<label class="sidebar-label pd-x-10 mg-t-25 mg-b-20 tx-info text-center">
				&copy;<%= "#{Time.now.year} #{APPLICATION_NAME}" %> 
				
			</label>

    	</div>  
		
</div>

