<!-- Side Navbar -->
<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
	<div class="sidebar-logo">
		<% if current_organization.present? && current_organization.logo.attached? %>
			<%= image_tag current_organization.logo %>

		<% else %>
			<%= image_tag "logo/logo.png", alt: "Logo" %> 
		<% end %>
	</div>
</div>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Menu</label>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
        	
			
			<!-- Menu -->
			<%= sidebar_menu %>
				
			
			<div class="side-footer mg-t-25 mg-b-20 tx-infoo text-center">
            
			</div>

			<label class="sidebar-label pd-x-10 mg-t-25 mg-b-20 tx-info text-center">
				<%= "VERSION: #{APPLICATION_VERSION}" %> 
				
			</label>

			

    	</div>  
		
</div>

