 <% @supports.each do |support| %>
    <tr>
    <td><%= support.name %></td>
    <td><%= support.description %></td>
   <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_support_path(support), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), support_delete_path(support), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    
    </tr>
<% end %>