.jumbotron {
	/*background-image: url("hero/hero-bamako.jpg");*/
	background-size: cover;
	background-position: center;
    /*min-height: 350px;
    height: 500px;*/
    /*height: calc(100vh - 65px);*/
    background-color: #673AB7 !important;
    /*padding-top: 150px;*/
 
    /*margin-left: -15px !important;
    margin-right: -15px !important;*/
    border-radius: 0px !important;
    position: relative;
    /*background-color: #3b5170 !important;*/
    background-color: #0d2953 !important;
    margin-bottom: 0px !important; 
}

/*.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}*/
.jumbotron-text{
	color: white !important;
	position: relative;
	/*z-index: 20;*/
	/*margin-bottom: 40px;*/
}
.jumbotron-form {
	z-index: 10;
	position: relative;
	overflow: hidden;
}


.footer{
    left: 230px;
    width: 100%;
    background-color: white;
    padding: 10px;
    position: fixed;
    border-top: 1px solid silver;
    bottom: 0;
}

.components-panel{
    border: 1px solid #e2e4e7;
    padding: 1em;
    margin-bottom: 5px;
}
.components-panel__body-title{

}

.components-panel__body-title h2 {
    font-size: 13px !important;
    font-weight: 600 !important;
}
.logo img {
    width: 60px !important;
}
.field_with_errors{
    color: red !important;
}
.sidebar-footer{
    border: 1px solid red;
}
.logo{
    width: 44px;
}
.navbar {
    
    padding: 0 !important;
}

.footer-one{
    padding-top: 30px;
    /*margin-top: 3em;*/
    /*background: #f5f8fa;*/
    background-color: #161e2c;
    border-top: 4px solid #e5e9ee;
    padding-bottom: 1em;
}
.footer-widget-title{
    text-transform: uppercase;
    color: white;
}
.footer-widget-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footer-widget-content ul li a{
    text-decoration: none;
    color: #BEC0C2;
    border: none;
    outline: 0;
}
.footer-widget-content{
    color:#BEC0C2;
    border: none;
    outline: 0;
}

.social-link {
    float: right;
    margin-top: 40px;
    color: white;
}

.section_title{
    float: left;
    text-transform: uppercase;
    color: #7a8f9f;
}
.featured-properties .card{
    /*min-height: 470px !important;*/
    height: 100% !important;
}
.featured-properties .property-item{
    margin-bottom: 15px;
}
.featured-properties .card-title a {
    color: #837e7e;
}
.featured-properties .card-title {

    margin-top: 10px !important;
    margin-bottom: 10px !important;

}
.featured-properties .load-more-button{
    margin-left: auto;
    margin-right: auto;
}
.featured-properties .load-more{
    width: 100%;
    margin: 15px
}
.featured-properties {
    margin: 30px 0px 20px 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}
.pagination > li > a, .pagination > li > span {

    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.contract-and-availability{
    /*border: 1px solid red;*/
    position: absolute;
}
.contract-and-availability .status-disponible{
    background-color: green;
    color: white;
    padding: 5px;
}
.contract-and-availability .status-indisponible{
    background-color: red;
    color: white;
    padding: 5px;
}
.contract-and-availability .contract{
    background-color: orange;
    color: white;
    padding: 5px;
    margin-bottom: 2px;
}
.section-title{
    margin: 30px;
}
.nav-item{
    margin: 0px 2px 0px 2px !important;
}
.property-content-thumbnail img, .related-property-thumb img{
    width: 100%;
}
.property-wrapper{
    margin: 30px 0px 30px 0px;
}
.property-wrapper .card-title, .new-property .card-title, 
.user-profile-basic-info .card-title, .user-profile-password .card-title, .user-profile-account .card-title{
    
    padding: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.share, .related-properties, .property-content,.property-description, .featured-image, .organization, .price_and_unity, .address {
    margin-bottom: 20px;
}
.related-properties-items{
    margin: 4px 0px 4px 0px;
}
.property-owner-thumb img {
    width: 100%;
}
.navbar {
    padding: 0 !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.22) !important;
    background-color: #fff !important;
    margin-bottom: 0;
    border-radius: 0;
    color: #282c35;
}
.properties-index img {
    width: 100%;
}
.thumbnail-preview img {
    width: 100%;
}
#image-preview {
    /*width: 400px;
    height: 400px;*/
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
  }
  #image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  #image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
  #profile-image-upload{
    display: none;
  }
  #profile-image-preview img{
    width: 100%;
  }

  legend {
    border-bottom: 1px solid !important;
    margin-bottom: 5px !important;
    font-size: 12pt !important;
    font-weight: bold !important;

}
#side-footer{
    position: fixed;
    z-index: 123;
    bottom: 0;
    text-align: center;
    width: 230px;
    padding: 10px;
}

.required:after { 
    content:" *"; 
    color: red;
}

.mt-30 {
    margin-top: 30px;
}
.pt-25{
    padding-top: 25px
}

.pb-25{
    padding-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-15{
    margin-top: 15px;
}

.alert-success {
    color: white !important;
    background-color: #008000ad !important;
    
}

.list-2-cols {
    -moz-columns: 2;
    columns: 2;
}

.list-2-cols li span {
    float: right;
}

.list-2-cols li {
    line-height: 40px;
    border-bottom: 1px solid;
        border-bottom-color: currentcolor;
    border-bottom-color: currentcolor;
    border-color: #dce0e0;
    padding: 0 10px;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.list--col {
    -moz-columns: 1;
    columns: 1;
}

.list-1-col li span {
    /*float: right;*/
}
span.tag-item{
    background-color: #0089ff;
    padding: 5px;
    color: white;
    border-radius: 25px;
    margin-right: 2px;
}


.setup-wrapper{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}
.permission-item{
    background-color: #696c69e0;
    color: white;
    padding: 3px;
    border-radius: 12px;
    margin-right: 4px;
}




























































































































