<section class="features pd-30">
	<div class="features-section-title text-center mg-b-30">
		<h2 class="section-title">Fonctionnalités</h2>
		<p class="section-title-subtitle">Notre application est pleine de fonctionnalités!</p>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-book" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>Multi-registre</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-share" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Courrier d'arrivé</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">
					<div class="feature-icon">
						<i class="fa fa-reply" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Courrier départ</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Imputation</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-link" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>Liens entre courriers</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-tasks" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Gestion des tâches</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-ticket" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Gestion des tickets</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-archive" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>GED</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-puzzle-piece" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Intégrations tierces</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>