<section class="features pd-30">
	<div class="features-section-title text-center mg-b-30">
		<h2 class="section-title">Fonctionnalités</h2>
		<p class="section-title-subtitle">Notre application est pleine de fonctionnalités!</p>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-users" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>Multi-registre</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							On every project, we assemble a dedicated team of experts, who focus exclusively on your project, creating a technology solution that meets your needs and aims.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-user-secret" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Courrier d'arrivé</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							For the duration of every project, you become part of our team, and we give you the ability to guide our developers’ work in real time
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">
					<div class="feature-icon">
						<i class="fa fa-undo" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Courrier départ</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							Our approach ensures a well organized development process, effective quality management, and proactive, clear communication with clients and stakeholders.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Imputation</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							We use high-quality and effective automated testing methods – known as Test-driven development (TDD) – to guarantee that your application behaves as intended and ensure that making changes doesn’t cause any unexpected side effects.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-code-fork" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>Liens entre courriers</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							We follow agile development methodology and we are open to changes and new ideas from your side at any stage of the development.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-gamepad" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Gestion des tâches</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							Our deep professional knowledge and solid expertise allow us to manage complicated projects that require innovative technical solutions.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-check-square-o" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Gestion des tickets</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							We use high-quality and effective automated testing methods – known as Test-driven development (TDD) – to guarantee that your application behaves as intended and ensure that making changes doesn’t cause any unexpected side effects.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-code-fork" aria-hidden="true"></i>

					</div>

					<div class="feature-title">
						<h5>GED</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							We follow agile development methodology and we are open to changes and new ideas from your side at any stage of the development.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-item">

					<div class="feature-icon">
						<i class="fa fa-gamepad" aria-hidden="true"></i>
					</div>

					<div class="feature-title">
						<h5>Intégrations tierces</h5>
					</div>

					<div class="feature-short-describe">
						<p>
							Our deep professional knowledge and solid expertise allow us to manage complicated projects that require innovative technical solutions.
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>