<section class="hero">

	<!-- Old header -->
	<div class="container">
		<div class="row align-items-lg-center">
			<div class="col-lg-7">
				<h2 class="display-4 text-bold">
				
				La gestion des flux d'informations de votre oraganisation au bout du doigt!
				</h2>
				<p class="text-gray-soft text-regular">
					SuiteCourrier est une solution optimale de gestion de courrier entrants et sortants dans votre organisation. Elle concilie éfficacité, simplicité et rapidité.			
				</p>
				

				<%= link_to raw('<i class="fa fa-arrow-right d-none d-md-inline ml-3" aria-hidden="true"></i> Demandez un devis'), new_quote_request_path , class: "btn btn-primary btn-lg mb-5 mb-lg-2 lift" %>

				<%= link_to raw('<i class="fa fa-arrow-right d-none d-md-inline ml-3" aria-hidden="true"></i> Demandez un démo'), new_quote_request_path , class: "btn btn-outline-primary btn-lg mb-5 mb-lg-2 lift" %>




			</div>
			<div class="col-lg-5 img-fluid d-none d-lg-block">
				<%= image_tag "hero/hero4.png" %>
			</div>
		</div>
	</div>

</section>
